trl
transformers >= 4.43.0
packaging
six
regex
pyyaml
sentencepiece
pybind11
blobfile
flux
tiktoken
torch >=2.6.0
numpy>=1.26.0

# ==== test ====
nltk
pytest
requests 
wrapt
tensorboard
tensorboardX
scipy
psutil
